
html {
  scroll-behavior: smooth;
}

.hFillimi {
  position: relative;
  text-align: center;
  color: white;
  font-size: 5vh;
  color: rgb(57, 57, 57);
  text-shadow: 2px 2px rgb(58, 58, 58);
  z-index: 100;
  font-weight: bold;
}
.pUnder {
  
  position: relative;
  text-align: center;
  padding: 10px 20px;
  z-index: 100;
  color: white;
  text-shadow: 2px 2px rgb(102, 102, 102);
  font-size: medium;
}
.firstL {
  transition: transform 0.3s ease; /* Smooth transition for transformation */
}

.trupi {
  position: relative;
  z-index: 100;
  width: 100%;

}

.shkrimi {
  margin: 0 auto;
  padding: 60px 8vw;
  font-weight: 500;
  color:#707c34;
}

.shkrimi h1 {
  text-align: center;
  padding: 20px 40px 10px 40px;

}



.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7 {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;

}

.slide {
  animation: appearM linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

/* 
.icon {
  margin-right: 20px;
  fill:#707c34;
  
} */

.icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(34%) saturate(300%) hue-rotate(45deg) brightness(90%) contrast(95%);
}








.scallop-down{
  rotate:180deg;
  width: 100%;
  background-color: white;
}

.scallop-down img{
  width: 100% !important;
  height: auto !important;
  display: block !important;
}

.scallop-up{
  margin-top:-200px;
  width: 100%;
}

.scallop-up img{
  width: 100% !important;
  height: auto !important;
  display: block !important;
} 

.ourJourney {
  background-color: #b8bc7c;
  text-align: center;
  color: white;

}

.ourJourney h2{
  font-family: "Brush Script MT", cursive;
  font-size: 5vw;
  font-weight: bold;
}

.ourJourney p {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
  font-weight: 500;
  color: white;

}

/* Per Kartat */

.ourJourney .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-items: stretch;

}

.container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  background-color: rgb(209, 225, 209);
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(86, 107, 21, 0.8);
}

/* Hide elements initially */
.container {
  opacity: 0;
  transform: translateX(-100px);
  /* Slide from the left */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* When visible, slide in */
.container.visible {
  opacity: 1;
  transform: translateX(0);
  /* No translation when fully visible */
}

.icon img {
  font-size: 30px;
  margin-right: 60px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;

}

.container:hover .icon img {
  filter: invert(100%);
}



.content {
  flex: 1;
  color: white;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 550;
  color:#707c34;
}

.description {
  font-size: 16px;
  color:#707c34;
}

.container:last-child {
  margin: 20 auto;
}

.container:hover {
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.9);
  background: linear-gradient(to right, rgba(90, 99, 90, 0.442) 0%, rgba(79, 112, 8, 0.5) 80%);
  color: white !important;
  cursor: pointer;

}
.container:hover .title {
  color:white;
}
.container:hover .description {
  color:white;
}
.container:hover .icon{
  filter: brightness(0) saturate(100%) invert(100%);
}
.otherServices {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
  position: relative;
  z-index: 100;
  background-color: white;
}

.otherServices p {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 40px;
  font-weight: 500;
  color: black;
  animation: appearM linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
  color:#707c34;
}
.otherServices h2{
  color:#707c34;
  font-family: "Brush Script MT", cursive;
  font-size: 5vw;
  font-weight: bold;
}

.contWhereWeOp {
  display: flex;
  flex-direction: row;
  /* Reverse the order of flex items */
  justify-content: space-between;
  align-items: flex-start;
  background-color: #707c34;
  margin-top: 15vw;
}

.whereWeOperate {
  color: white;
  width: 45%;
  text-align: center;
  padding: 20px;
  /* Add some padding for better spacing */
  box-sizing: border-box;
  /* Include padding in the width */

}

.whereWeOperate p {
  font-weight: 600;
}

.whereWeOperate .vendet {
  padding-top: 40px;
}

.whereWeOperate .vendet::before {
  content: "•  ";

}

#map {
  width: 100%;
  /* Set the map width to 100% to fit the container */
  height: 400px;
  /* Set a fixed height for the map */


}

.whereWeOperate h2 {
  margin-bottom: 30px;
  font-family: "Brush Script MT", cursive;
  font-size: 5vw;
  font-weight: bold;
}

.mapContainer {
  width: 50%;
  text-align: center;
  align-items: flex-start;

  margin-right: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Add box shadow */

}

.howWeWork {
  text-align: center;
  position: relative;
  z-index: 100;
  background-color: white;

}

.howWeWork .p {
  text-align: center;
  color:#707c34;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 40px;

}
.howWeWork h2{
  font-family: "Brush Script MT", cursive;
  font-size: 5vw;
  font-weight: bold;
  color:#707c34;
}

.containerHowWeWork {
  display: flex;
  width: 100%;
}

/* For phones */
@media only screen and (max-width: 767px) {
  .mainHeading.section {
    align-items: center;
    justify-content: center;
}

  .card-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

  }
  

  .container {
    width: 80vw;
    align-items: center;

  }

  .contWhereWeOp {
    align-items: center;
    flex-direction: column;
  }

  .whereWeOperate {
    width: 80vw;
  }

  .mapContainer {
    align-items: center;
    width: 80vw;
    order: 1;
    margin-right: 0;
    margin: 20px;
  }

  .containerHowWeWork {
    display: contents;
  }

  .shkrimi {
    padding: 10px 20px;
  }

  .icon {
    margin-right: 15px !important;
    height: 50px;
    width: 50px;
  }

  .icon img {
    margin-right: 10px !important;
    height: 50px;
    width: 50px;
  }

  .otherServices p {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 40px;
    font-weight: 600;
    color: rgb(57, 57, 57);
  }

}



/* PER FLIP CARD-ET*/

.flip-card {
  margin: 50px auto;
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 15px;

  opacity: 0;

}

.flip-card1 {
  animation: appearM linear;
  animation-delay: 0.2s;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
  opacity: 1;
}

.flip-card2 {
  animation: appearM linear;
  animation-delay: 0.4s;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
  opacity: 1;
}

.flip-card3 {
  animation: appearM linear;
  animation-delay: 0.4s;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  opacity: 1;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}


.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 15px;

}

.image {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}


.flip-card-back {
  background-color: #707c34;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
  display: flex;


}

.pBack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: medium;
}

.h3CardFront {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}

.shkrimi .hFillimi .show {
  background-size: 100% 40%;
}

.green-heading-bg {
  /* display: inline;
  z-index: -1;
  background-image: linear-gradient(#4BEDC2, #4BEDC2);
  background-position: 0 80%;
  background-repeat: no-repeat;
  background-size: 0 40%;
  margin-left: -0.55rem;
  margin-right: -0.55rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  transition: background-size 1s 1s ease; */
  color: #FFA500;
}

.separator img {
  
  position: relative;
  width: 100%;
  height: 30vh;
  z-index: 10;
  bottom: 0;
  margin-top: 90vh;
  margin-bottom: -5vh;
}

.mainHeading {
  background-image: url("../Photos/41919.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
}

.section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 154, 126, 0.3);
  z-index: 1;
  transition: background 0.5s ease;
}

.section h1 {
  top: 45vh;
  position: relative;
  z-index: 2;
  font-size: 3rem;
  text-align: center;
  transition: transform 0.3s ease;
  color: white;
}

/* Arrow animation */
.demo a {
  position: absolute;
  bottom: 40vh;
  left: 50%;
  z-index: 2;
  display: inline-block;
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

/* Initial arrow animation */
#section04 a span {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: sdb04 2s infinite;
  opacity: 1;
  transition: opacity 0.3s ease;
}

#section04 a span.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .mainHeading {
    padding-top: 15vh;
    background-size: cover;
    background-position: center;
  }
  .section h1{
    top: 25vh;
    font-size: 1.8rem;
  }
  .separator img {
  
    position: relative;
    width: 100%;
    height: 30vh;
    z-index: 10;
    margin-top: 75vh;
    margin-bottom: -5vh;
  }
  .shkrimi{
    padding-top: 5vh;
  }
  .howWeWork{
    padding-bottom: 8vh;
  }
}

@media (max-width: 480px) {
  .section h1 {
    font-size: 2rem;
  }

}


@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }

  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.heading-container {
  position: relative;
  z-index: 20;
  background-color: white;

}




