*{
    margin: 0;
}
.hFillimi{
    color: rgb(17,119,51);
    margin-top: 15px;
}
.trupi{
    
    width: 100%;
    
}
.shkrimi {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    font-weight: 500;
    color: rgb(57,57,57);
  }
  .shkrimi h1{
    text-align: center;
    padding: 20px 40px 10px 40px;
  }
  .shkrimi .pUnder{
    text-align: center;
    padding-bottom: 40px;
  }

.p1,.p2, .p3, .p4, .p5, .p6, .p7 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.icon {
    margin-right: 20px;
}
  /*----------------*/
  /*  SCALLOP down    */
  /*----------------*/
.scallop-down{
    height:100px;
    width:100%;
    background: radial-gradient(circle at 50% 0, #369A7E 0%, #369A7E 49%, #fff 51%, white 100%);
    background-size: 49px 100%;
  }
  
  
  /*----------------*/
  /*  SCALLOP up    */
  /*----------------*/
  .scallop-up{
    height:100px;
    width:100%;
    background: radial-gradient(circle at 50% 100%, #369A7E 0%, #369A7E 49%, #fff 51%, white 100%);
    background-size: 49px 100%;
  }
  .ourJourney{
    background-color: #369A7E;
    text-align: center;
    color: white;
  }
  .ourJourney p{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
    font-weight: 500;
    color: white;
    
  }
  /* Per Kartat */

  .ourJourney .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0 10%;
    
  }
  
  .container {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: rgb(209, 225, 209);
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(21, 107, 21, 0.8);
  }
  
  .icon img{
    font-size: 30px;
    margin-right: 60px; 
    filter: grayscale(100%); 
    transition: filter 0.3s ease-in-out; 
    
  }
  .container:hover .icon img {
    filter: invert(100%); 
  }
  .content {
    flex: 1; 
  }
  
  .title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 550;
  }
  
  .description {
    font-size: 16px;
  }
  .container:last-child {
    
    margin: 20 auto;
  }
  .container:hover {
    box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.9); 
    background: linear-gradient(to right, rgba(90, 99, 90, 0.442) 0%, rgba(176, 255, 176, 0.5) 80%);
    color: white;
    cursor: pointer;
    
  }
  .otherServices{
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
  }
  .otherServices p{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
    font-weight: 500;
    color: rgb(57,57,57);
  }
  .whereWeOperate{
    background-color: #369A7E;
  }
  .contWhereWeOp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.whereWeOperate {
    width: 45%;
    margin-right: 20px;
    text-align: center;
}
.whereWeOperate h2{
    margin-bottom: 30px;
}
.map {
    background-color: #369A7E;
    width: 45%;
}
  