html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.hFillimi {
    position: relative;
    text-align: center;
    color: white;
    font-size: 5vh;
    color: rgb(57, 57, 57);
    text-shadow: 2px 2px rgb(102, 102, 102);
    z-index: 100;
  }
  .pUnder {
    
    position: relative;
    text-align: center;
    padding: 2vh 20vw;
    z-index: 100;
    color: white;
    text-shadow: 2px 2px rgb(102, 102, 102);
    font-size: medium;
  }
.mainHeading {
    background-image: url("../Photos/270 (1).jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
  }
  .firstL {
    transition: transform 0.3s ease; /* Smooth transition for transformation */
  }
  .shkrimi .hFillimi .show {
    background-size: 100% 40%;
  }
  
  
.section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 154, 126, 0.3);
    z-index: 1;
    transition: background 0.5s ease;
  }
  
  .section h1 {
    top: 45vh;
    position: relative;
    z-index: 2;
    font-size: 3rem;
    text-align: center;
    transition: transform 0.3s ease;
    color: white;
  }
  /* Arrow animation */
.demo a {
    position: absolute;
    bottom: 32vh;
    left: 50%;
    z-index: 2;
    display: inline-block;
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  /* Initial arrow animation */
#section04 a span {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: sdb04 2s infinite;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  #section04 a span.hidden {
    opacity: 0;
    pointer-events: none;
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
  
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
  
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }
  .separator{
    z-index: 100;
    position: relative;
    bottom: 0;
    margin-bottom: -2vh;
  }
  .separator img {
    margin-top: 92vh;
    width: 100%;
    height: 30vh;
    z-index: 100;
    
  }

  .scallop-up{
    width: 100%;
    z-index: 100;
    background-color: white;
  }
  
  .scallop-up img{
    width: 100% !important;
    height: auto !important;
    margin-bottom: -2vw;
  }
  
  .scallop-down{
    rotate:180deg;
    width: 100%;
    background-color: white;
  }
  
  .scallop-down img{
    width: 100% !important;
    height: auto !important;
    display: block !important;
  }

.focus {
    position: relative;
    z-index: 100;
    padding: 5vh;
    text-align: center;
    background-color: white;
    width: 100%;
}

.focusH2 {
    margin: 0;
    color:#707c34;
    font-family: "Brush Script MT", cursive;
    font-size: 5vw;
    font-weight: bold;
    padding-bottom: 5vh;
}

/* Per our focus */

.blurred-box__title {
    font-family: system-ui;
    padding-bottom: 60px;
    text-align: center;
}

.blurred-box__text {
    font-family: system-ui;
    text-align: center;
    font-size: large;
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    
    .focusH2 {
        font-size: 1.2rem;
    }

    .blurred-box__title,
    .blurred-box__text {
        font-size: 0.9rem;
    }
    .h1 {
        font-size: 3vh;
        padding-top: 3vh;
    }

    .p1 {
        font-size: 1rem;
        max-width: 90%;
        padding-top: 2vh;
    }

    
}
.h3{
    padding-top: 5vh;
    color: white;
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 4vw;
    font-weight: bold;
}
.belowOurWork{
    background-color:#b8bc7c;
    position: relative;
    z-index: 100;
}


/* Style for the ourWork container */
.ourWork {
    z-index: 100;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; 
    background-color: white;
}

.ourWork div {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    background:#b8bc7c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2 s ease;
    text-align: center;
    opacity: 0; /* Start invisible */
    transform: translateX(10px); /* Start off-screen to the right */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}
.ourWork div.visible {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Slide into place */
}

.ourWork div:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.ourWorkH3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.ourWorkP {
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    margin: 0; 
}

/* Media query for small screens */
@media (max-width: 768px) {
    .pUnder {
    
        position: relative;
        text-align: center;
        padding: 2vh 5vw;
        z-index: 100;
        color: white;
        font-size: medium;
      }
    .section h1{
        top: 15vh;
        font-size: 1.8rem;
      }
    .mainHeading {
        padding-top: 15vh;
        background-size: cover;
        background-position: center;
      }
    .mainHeading.section {
        align-items: center;
        justify-content: center;
    }
    .separator img {
  
        position: relative;
        width: 100%;
        height: 30vh;
        z-index: 10;
        margin-top: 75vh;
        margin-bottom: 0vh;
      }
    .ourWork {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .ourWork div {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }

    .ourWorkH3 {
        font-size: 1.2rem;
    }

    .ourWorkP {
        font-size: 0.9rem;
    }
    .focusH2 {
        font-size: 1.5rem;
    }
    
    .blurred-box__title,
    .blurred-box__text {
        font-size: 1rem;
    }
    .h1 {
        font-size: 3.5vh;
    }

    .p1 {
        font-size: 1.1rem;
        max-width: 80%;
        padding-top: 3vh;
    }
    .split-container {
        flex-direction: column; /* Stacks items vertically on smaller screens */
        animation: appearD linear;
        animation-timeline: view();
        animation-range: entry 0% cover 35%;
        margin-bottom: -2vw;
    }

    .text-container {
        text-align: center !important;
        padding: 20px;
        text-align: center; /* Center-align text on smaller screens */
    }
    .content-wrapper {
        flex-direction: column;
        text-align: center;
      }
    
      .image-content {
        text-align: center;
        margin-top: 20px;
      }


}

  .paragraph {
    z-index: 100;
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px; 
    font-size: 1rem;
    color:#707c34;
    font-weight: 500;
    background-color: white;
}

.paragraph p {
    margin: 0;
    line-height: 1.5;
    animation: appearM linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}

.split-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    margin: auto;
    animation: appearD linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.image-container {
    flex: 1;
    min-width: 300px; 
    overflow: hidden; 
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

.text-container {
    flex: 1;
    padding: 40px;
    text-align: left;
}

.text-container h4 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}

.text-container p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: white;
    margin-bottom: 20px;
}

.content-wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 5vh 13vw;
    padding-bottom: 5vh;
    margin: 0 auto;
    gap: 20px;
    background-color: white;
  }
  
  .text-content {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.7;
    color:#707c34;
    font-weight: 500;
    animation: appearM linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }
  
  .image-content {
    flex: 1;
    text-align: right;
    animation: appearD linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }
  
  .image-content img {
    max-width: 100%;
    height: 50%;
    
  }
  
  .cButton {
    position: relative;
    margin-top: 30px;
    padding: 10px 20px; /* Initial padding */
    border: 2px solid #707c34;
    background-color: white;
    color: #707c34;
    font-size: medium;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    overflow: hidden;
    transition: color 0.4s ease-out, padding 0.4s ease-out; /* Added padding to transition */
    letter-spacing: 1.5px;
    z-index: 1; /* Keeps button text above the pseudo-element */
  }
  
  .cButton:hover {
    color: white;
    padding: 10px 40px; /* Increase padding to smoothly expand the button */
    padding-left: 20px;
  }
  
  .cButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #707c34;
    z-index: -1;
    transition: width 0.4s ease-in-out;
  }
  
  .cButton:hover::before {
    width: 100%;
  }
  
  .cButton::after {
    content: "→";
    position: absolute;
    right: 10px; /* Initial right position */
    opacity: 0;
    transition: opacity 0.4s ease-out, right 0.4s ease-in-out;
    color: white;
    padding-right: 10px;
  }
  
  .cButton:hover::after {
    right: 5px; /* Moves the arrow to the right on hover */
    opacity: 1;
  }
  


  
  
  