body {
    margin: 0;
    padding: 0;
    position: relative;
    
}

.title {
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px black;
}

.section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #369A7E;
    color: black;
}

.wrap {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    margin: 0;
}

.header {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}
.content{
    text-align: center;
    color: white;
}
.content p{
    text-align: center;
    padding-top: 40px;
    font-size: 1rem;
}
/* .photoContainer {
    padding-top: 25px;
    display: flex;
    justify-content: center; 
    max-width: 100%;
    overflow-x: auto;
} */

.photo {
    padding-top: 25px;
    display: flex;
    justify-content: center; /* Center items horizontally */
    max-width: 100%;
    display: flex;
    
}

.photo img {
    width: 20vw; 
    height: 40vh; 
    border-radius: 15px; 
    margin-right: 40px;
    box-shadow: 5px 5px 5px rgb(27, 26, 26);
}
.photo img:hover{
    scale: 1.1;
    cursor: pointer;
}
.underPhoto{
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    
}

    /*----------------*/
   /*  SCALLOP down  */
  /*----------------*/
.scallop-down{
    height:100px;
    width:100%;
    background: radial-gradient(circle at 50% 0, #369A7E 0%, #369A7E 49%, #fff 51%, white 100%);
    background-size: 49px 100%;
  }
  
  
    /*----------------*/
   /*  SCALLOP up    */
  /*----------------*/
  .scallop-up{
    height:100px;
    width:100%;
    background: radial-gradient(circle at 50% 100%, #369A7E 0%, #369A7E 49%, #fff 51%, white 100%);
    background-size: 49px 100%;
  }
  .productH2{
    text-align: center;
  }



  /* Per tabelen posht */



  
  .containerTable {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    
  }
  
  
  .responsive-table {
    
    li{
        font-size: large;
      font-weight: 700;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      
    }
    
    

    
    
    .table-row {
        
        color: black;
        border-bottom: 1px solid #369A7E;
        background-color: transparent; 
        transition: background-color 0.4s ease-in-out; 
        position: relative;
    }
    .table-row:nth-child(odd)::before {
        content: ''; /* Required for pseudo-element */
        position: absolute;
        top: 0;
        left: -120vw; /* Initially position off-screen to the left */
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-color: #369A7E; /* Initial background color */
        transition: left 0.4s ease-in-out; /* Transition effect for left property */
        z-index: -1;
        
      }
      .table-row:nth-child(even)::before {
        content: ''; /* Required for pseudo-element */
        position: absolute;
        top: 0;
        left: 120vw; /* Initially position off-screen to the left */
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-color: #369A7E; /* Initial background color */
        transition: left 0.4s ease-in-out; /* Transition effect for left property */
        z-index: -1;
      }
      
      .table-row:hover {
        color: white;
        cursor: pointer;
        border-radius: 3px;
        
      }
      
      
      .table-row:hover::before {
        
        left: 0; /* Move from left to right upon hovering */
        z-index: -1;
        
      }


      
    .col-1 {
      flex-basis: 100%;
    }
    .col-2 {
      flex-basis: 130%;
    }
     .col-3 {
      flex-basis: 100%;
    } 
    
    
    @media all and (max-width: 767px) {
      .background{
        position:relative;
        object-fit: cover;
        
      }
      
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: black;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
  .highlight {
    background-color: lightyellow;
    font-weight: bold;
  }
  .search-container {
    padding: 40px 0;
    text-align: center;
    margin-bottom: 20px; 
  }
  
  #searchInput {
    border: none;
    border-bottom: 1px solid #369A7E; 
    padding: 5px 10px;
    font-size: 16px;
    width: 50%; 
    max-width: 300px; 
  }
  
  #searchInput:focus {
    outline: none; 
    border-bottom: 1px solid #369A7E; 
  }