<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/csr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/footer.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/animation.css') }}">
    <title>Corporate Social Responsibility</title>
    <link rel="icon" type="image/png" href="../Photos/logo.png">
</head>

<body>

    <header>
        <nav>
            <div class="top-bar">
                <div class="top-bar-content">
                    <span class="message">Go Organic, Improve Lives</span>
                    <span class="divider">|</span>
                    <a href="mailto:info@bioalba.al" class="contact">info@bioalba.al</a>
                    <a href="tel:+35568206262" class="contact">📞 +355 68 20 622 62</a>
                </div>
            <ul class='nav-bar'>
                <li class='logo'><a href='#'><img src="{{ url_for('static', filename='Photos/logo.png') }}" alt="BioAlba Logo"></a></li>
                <input type='checkbox' id='check' />
                <span class="menu">
                    <li><a href="{{ url_for('home') }}" data-link="Home">Home</a></li>
                    <li><a href="{{ url_for('about') }}" data-link="About Us">About Us</a></li>
                    <li><a href="{{ url_for('csr') }}" data-link="CSR">Corporate Social Responsibility</a></li>
                    <li><a href="{{ url_for('products') }}" data-link="Products">Products</a></li>
                    <li><a href="{{ url_for('contact') }}" data-link="Contact">Contact Us</a></li>
                    <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
                </span>
                <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
            </ul>
        </nav>
    </header>

    <!-- <div class="heading-container">
        <div class="text-content">
            <h1 class="h1">Empowering Communities and <span>Nurturing Sustainability</span></h1>
            <p class="p1">
                At BioAlba, we are more than just an organic medicinal plants producer;
                we are committed to making a positive impact on communities and the environment.
                Our environmentally friendly approach is socially focused in that we support local farmers and community
                organizations.
            </p>
        </div>
        <div class="separator"><img src="../Photos/layeredWavesWhite.png" alt=""></div>
    </div> -->



<div class="pageTransition">

    <div class="mainHeading section">
        <div class="overlay"></div>
        <div class="firstL">
            <h1 class="hFillimi">Empowering Communities and <span>Nurturing Sustainability</span></span>
                <p class="pUnder">At BioAlba, we are more than just an organic medicinal plants producer;
                    we are committed to making a positive impact on communities and the environment.
                    Our environmentally friendly approach is socially focused in that we support local farmers and
                    community
                    organizations.</p>
            </h1>

        </div>

        <div id="section04" class="demo">
            <a href="#"><span></span></a>
        </div>
    </div>

    <div class="separator"><img src="{{ url_for('static', filename='Photos/layeredWavesWhite.png') }}" alt="layeredWavesWhite"></div>



    <div class="focus">

        <h2 class="focusH2">Our focus is placed upon:</h2>

    </div>

    <div class="ourWork">
        <div class="ourWork1">
            <h3 class="ourWorkH3">Supporting Small Farmers</h3>
            <p class="ourWorkP">We empower small and medium farmers in remote areas,
                encouraging them to work together while providing them with access to international markets.
            </p>
        </div>
        <div class="ourWork2">
            <h3 class="ourWorkH3">Training and Education</h3>
            <p class="ourWorkP">We provide training and support for inputs, including seeds and plant protection
                products, allowed in organic cultivation.</p>
        </div>
        <div class="ourWork3">
            <h3 class="ourWorkH3">Social Impact</h3>
            <p class="ourWorkP">3% of our income is dedicated to supporting local organizations, youth empowerment, and
                women at risk.</p>
        </div>
        <div class="ourWork4">
            <h3 class="ourWorkH3">Community Engagement</h3>
            <p class="ourWorkP">We engage with local farming communities to educate them about market trends, organic
                standards, environmental protection, and sustainability.</p>
        </div>


    </div>
    <div class="paragraph">
        <p>BioAlba is committed to producing and guaranteeing organic quality and, through it, contributing to
            environmental protection.</p>
    </div>

    <div class="belowOurWork">
        <!-- <h4 class="h4">BioAlba is committed to producing and guaranteeing organic quality and,
             through it, contributing to environmental protection.</h4> -->

        <div class="scallop-up">
            <img src="{{ url_for('static', filename='Photos/screenshot.png') }}" alt="alt">
        </div>

        <h3 class="h3">More Than Clients: Our Farmers Are Our Partners</h3>

        <div class="split-container">
            <div class="image-container">

                <img src="{{ url_for('static', filename='Photos/holdingPlant2Brush1.png') }}" alt="Hand holding organic seeds" class="responsive-image">
            </div>
            <div class="text-container">
                <h4>Our Dedication to Organic Excellence</h4>
                <p>Our dedication to organic farming goes beyond business; it's a way of life for us. We understand that
                    producing organically may result in lower yields compared to conventional methods, but it's driven
                    by our unwavering passion for healthy products and environmental stewardship. Every day, we embrace
                    the challenge of delivering organic quality. Our projects are deeply rooted in organic principles,
                    emphasizing health, environmental responsibility, fairness, and care. These values unite our organic
                    producers and the entire BioAlba Group.</p>
            </div>
        </div>

        <div class="scallop-down">
            <img src="{{ url_for('static', filename='Photos/screenshot.png') }}" alt="alt">
        </div>
    </div>

    

    <div class="content-wrapper">
        <div class="text-content">
            <p>Join us on this journey, where farmers are partners, social responsibility is paramount,
                and our commitment to organic excellence is unwavering.
                Together, we cultivate a sustainable and healthier future.</p>
            <a href="{{ url_for('contact') }}"><button class="cButton">Contact Us</button></a>

        </div>
        <div class="image-content">
            <img src="{{ url_for('static', filename='Photos/helpingHands_resized.png') }}" alt="Hand holding organic seeds">
        </div>
    </div>
</div>

    <footer class="footer-distributed">

        <div class="footer-left">

            <img src="{{ url_for('static', filename='Photos/logo.png') }}" alt="BioAlba Group">
            <div class="organic">
                <img src="{{ url_for('static', filename='Photos/image.jpg') }}" alt="bio">
                <img src="{{ url_for('static', filename='Photos/image.png') }}" alt="bio">
              </div>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>BioAlba Group Headquarters</span> Rr. Leke Dukagjini, 200/72, Kamez, Tirana, Albania.</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+355(0)682062262</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">info@bioalba.al</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Bioalba Group is a community of dedicated small and medium sized farmers working relentlessly to produce and
          cultivate the finest organic herbs, flowers, leaves, roots, and more. With a primary focus on producing
          quality more than quantity, we are committed to promoting organic excellence while contributing to a
          sustainable and socially responsible future.
            </p>

            <div class="footer-icons">
                <a href="https://www.facebook.com/www.bioalba.al/" target="_blank"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a>
                <a href="https://www.linkedin.com/in/sokol-stafa-5bbb10177/" target="_blank"><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
            </div>

        </div>
        <p class="footer-company-name">Copyright © <span id="copyright-year"></span> | BioAlba Group Sh.P.K. | All Rights Reserved
        </p>
    </footer>
    <script src="{{ url_for('static', filename='JS/copyrightYear.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Function to check if an element is in the viewport
            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                    rect.top < window.innerHeight && // Element's top is above the bottom of the viewport
                    rect.bottom >= 0 // Element's bottom is below the top of the viewport
                );
            }

            // Function to handle the scroll event
            function handleScroll() {
                var elements = document.querySelectorAll('.ourWork div'); // Select all the elements that need to animate
                elements.forEach(function (el, index) {
                    if (isElementInViewport(el)) {
                        el.style.transitionDelay = `${index * 0.15}s`; // Add staggered delay for each element
                        el.classList.add('visible'); // Add the visible class to trigger animation
                    } else {
                        el.classList.remove('visible'); // Remove the visible class to reverse animation
                    }
                });
            }

            // Initial check in case elements are already in view
            handleScroll();

            // Listen for scroll events
            window.addEventListener('scroll', handleScroll);
        });





        window.addEventListener('scroll', function () {
            const firstL = document.querySelector('.firstL');
            const overlay = document.querySelector('.section .overlay');
            const arrow = document.querySelector('#section04 a span');
            const scrollY = window.scrollY;

            // Move the firstL element down based on scroll position
            const maxOffset = 250; // Maximum vertical offset in pixels
            const slowFactor = 0.7; // Adjust this factor to slow down the movement
            const offset = Math.min(scrollY * slowFactor, maxOffset); // Ensure it doesn't go beyond the maxOffset
            firstL.style.transform = `translateY(${offset}px)`; // Move the firstL element down

            // Adjust the overlay opacity based on scroll position
            const maxOpacity = 0.7; // Maximum opacity level
            const opacity = Math.min(scrollY / 1000, maxOpacity); // Adjust sensitivity by changing the denominator
            if (overlay) { // Only adjust if overlay exists
                overlay.style.background = `rgba(109,123,48, ${0.2 + opacity})`; // Darken the color
            }

            // Detect scroll position to hide the arrow
            if (scrollY > 0) {
                arrow.classList.add('hidden'); // Hide arrow with class
            } else {
                arrow.classList.remove('hidden'); // Show arrow
            }
        }, { passive: true }); // Mark the event listener as passive
    </script>



</body>

<script src="{{ url_for('static', filename='JS/navbar.js') }}"></script>


</html>